@{
    ViewBag.Title = "Home Page";
}

<div>
    <br><h2>Добро пожаловать на сайт антидопингового агенства!</h2>
    <h3>Мы за честный и здоровый спорт</h3>
    <p>
        Основная миссия нашего антидопингового агенства состоит в защите фундаментального права спортсменов на участие в соревнованиях, свободных от допинга. С этой целью наше антидопинговое агенство, как и любая другая антидопинговая организация, использует два принципиально разных подхода.
    </p>

    <p>
        Первая задача антидопингового агенства состоит в том, чтобы информировать общественность и спортивное сообщество о ключевых положениях антидопинговых правил, формировать культуру нулевой терпимости к допингу, а также внедрять и поддерживать основанные на ценностях краткосрочные, среднесрочные и долгосрочные образовательные программы, эффективно предотвращающие использование допинга в спорте.
    </p>

    <p>
        Вторая задача включает работу по планированию и проведению тестирования, расследованию фактов возможных нарушений антидопинговых правил, а также обработку результатов и проведение слушаний по фактам нарушений. Это позволяет гарантировать неизбежность наказания тех спортсменов, тренеров, врачей и других представителей персонала спортсменов, которые нарушают антидопинговые правила.
    </p>
    </div>
      